<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Total budget</ion-label>
    <ion-input type="number" [(ngModel)]="moreOperationData.budget"></ion-input>
    <ion-button slot="end" (click)="addBudget(moreOperationData)">
      Save
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Total budget = {{moreOperationData.budget}}</ion-label>
  </ion-item>

  <ion-button expand="full" (click)="addNote()">
    ADD CATEGORY
  </ion-button>
  <ion-list>
    <ion-item-sliding *ngFor="let data of categories">
      <ion-item>
        {{data.category}}
      </ion-item>
      <ion-item-options>
        <button ion-button icon-only (click)="deleteCategory(data)" danger>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>