<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save(saveForm)" novalidate [formGroup]="saveForm">
    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item>
            <ion-input type="text" placeholder="Name" name="name" formControlName="name"></ion-input>
          </ion-item>
          <div
            *ngIf="( saveForm.get('name').hasError('required') || saveForm.get('name').hasError('name') ) && saveForm.get('name').touched">
            <ion-label color="danger" *ngIf="saveForm.get('name').hasError('required') && saveForm.get('name').touched">
              You can't leave this empty.
            </ion-label>
            <ion-label color="danger" *ngIf="saveForm.get('name').hasError('name') && saveForm.get('name').touched">
              Name is required.
            </ion-label>
          </div>

          <ion-item>
            <ion-input type="text" placeholder="Email" name="email" formControlName="email"></ion-input>
          </ion-item>
          <div
            *ngIf="( saveForm.get('email').hasError('required') || saveForm.get('email').hasError('email') ) && saveForm.get('email').touched">
            <ion-label color="danger" *ngIf="saveForm.get('email').hasError('required') && saveForm.get('email').touched">
                You can't leave this empty.
            </ion-label>
            <ion-label color="danger" *ngIf="saveForm.get('email').hasError('email') && saveForm.get('email').touched">
              Email is required.
            </ion-label>
          </div>

          <ion-item>
            <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
            <small>Blank field don't modify password</small>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <ion-button class="submit-btn" expand="full" type="submit" [disabled]="!saveForm.valid">Save</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>