<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>Total budget = {{userData}}</ion-label>
    </ion-item>
    <ion-button expand="full" (click)="addNote()">
      ADD EXPENSE
    </ion-button>
    <ion-list>
  
      <ion-item-sliding *ngFor="let note of notes">
        <ion-item>
          <span class="labelForTextbox">{{note.category}}</span>
          <span class="labelForTextbox">{{note.itemName}}</span>
          <span class="labelForTextbox">{{note.amount}}</span>
          <span class="labelForTextbox">{{note.date}}</span>  
        </ion-item>
  
        <ion-item-options>
          <button ion-button icon-only (click)="editNote(note)" light>
            <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button icon-only (click)="deleteNote(note)" danger>
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
  
      </ion-item-sliding>
  
    </ion-list>
  </ion-content>